body{
  background: brown
}
h1 {
  text-align: center;
}
.caixa1 {
   position: absolute;
   background: rgb(0, 255, 170);
   width: 200px;
   height: 200px;
   color: #FFFFFF;
   right: 500px;
   top: 200px;
}
.caixa2 {
   position: absolute;
   background: rgb(0, 255, 55);
   width: 200px;
   height: 200px;
   color: #000000;
   right: 705px;
   top: 200px;
}

.menuPrincipal {
  position: absolute;
  width: 100%;
  height: 45px;
  background: rgb(32, 85, 69);
  top: 0;
  left: 0;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li{
  float: left;
}
li a {
  display: block;
  color: rgb(252, 252, 252);
  padding: 14px 16px;
  text-align: center;
}
#image {
  width: 30%;
}
.boxImage {
  display: flex;
justify-content: center;
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: rgb(65, 156, 126);
  top: 50px;
  left: 0;
  margin: 20px;
  border-color: rgba(110, 126, 223, 0.87);
border-width: 20px;
border-style: solid;
padding: 20px;

}